{% extends "layout.html" %}

{% block body %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>
                Просмотр и сравнение времени сна чуваков
            </h2>
            <form id="ae-form" class="form-inline">
                <label for="ae-name">
                    Имя чувака:
                </label>
                <input type="text" id="ae-name">
                <input type="submit" value="возъебенить на холст">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img id='loader-gif' src="{{url_for('static', filename='img/giphy.gif')}}">
        </div>
    </div>

</div>

<div id="ae-represent-container">
    <div id="ae-represent-placeholder">

    </div>
</div>

<script src="{{ url_for('static', filename='js/ae-script.js') }}"></script>

{% endblock %}
{% endblock%}