{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Состояние поиска комментариев: </h3>
            {% for s, st in subs_states.items() %}
            <div>
                <h3>{{s}}
                    :
                    <button type="button" class="btn btn-default" aria-label="Left Align"
                            onclick="start_find_comments('{{s}}')">
                        <span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-danger" aria-label="Left Align"
                            onclick="refresh_searcher_state('{{s}}')">
                        <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                    <a href="{{url_for('comment_search_info', sub=s)}}">
                        <small id="{{s}}-st">{{st.global_state}} [{{st.mutex_state}}]</small>
                    </a>


                    <button class="btn btn-primary collapsed-lazy" type="button" data-toggle="collapse"
                            data-target="#posts-of-{{s}}"
                            aria-expanded="false">
                        в очереди:
                    </button>
                </h3>
                <div class="collapse collapsed-lazy" id="posts-of-{{s}}" sub="{{s}}">
                    <div class="well">
                        <table class="table table-stripped table-hover table-condensed">
                            <thead>
                            <tr>
                                <td>post id</td>
                                <td>text</td>
                            </tr>
                            </thead>
                            <tbody id="{{s}}-posts">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <br>
            <hr>
            {% endfor %}

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/lazy_collapsed.js')}}"></script>
{% endblock %}

{% endblock %}