{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h4>
                <small>Ткни на ссылки для других сабов<br>

                    {%for s in a_subs %}
                    <a href="{{url_for('comment_search_info', sub=s)}}">{{s}}</a>
                    {% endfor %}

                </small>
            </h4>
        </div>
        <div id="sub" content="{{sub}}"></div>
        <div class="col-md-6">


            <h1>
                <small>Информация о найденных комментариях in</small>
                {{sub}}.
            </h1>


            <button type="submit" class="form-control form-inline btn btn-lg btn-primary" onclick="start_find_comments('{{sub}}')">
                Начать поиск в
                {{sub}}?
            </button>

            <h1>Состояние <small id="{{sub}}_st">[{{state}}]</small></h1>
            <br>
            <hr>
            {%for s, st in subs_states.items() %}
            {%if s != sub %}
            <div>
                 <h4>
                     <button  class="btn btn-sm btn-default" onclick="start_find_comments('{{s}}')"> Начать поиск в {{s}} </button>
                     <small id="{{s}}_st">({{st}})</small>
                 </h4>

            </div>

            {% endif %}
            {% endfor %}
        </div>

    </div>


    <div class="row">
        <h3>Посты с найденным текстом но не прокомментированные:</h3>
    </div>

    <div class="row">
        <table class="table table-stripped">
            <thead>
            <tr>
                <td>post id</td>
                <td>text</td>
                <td>hash</td>

            </tr>
            </thead>
            <tbody>
            {% for post in posts_found_comment_text %}
            {%if post['is_in_queue'] %}
            <tr>
                <td>
                    {{post['fullname']}}
                </td>
                <td class="col-md-5">
                    {{post.get('text')}}
                </td>
                <td>
                    {{post['words_hash']}}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Прокомментированные: </h3>
        <table class="table table-stripped">
            <thead>
            <tr>
                <td>post id</td>
                <td>text</td>
                <td>hash</td>
                <td>by</td>
            </tr>
            </thead>
            <tbody>
            {% for post in posts_commented %}
            <tr>
                <td>
                    {{post['fullname']}}
                </td>
                <td>
                    {{post.get('text')}}
                </td>
                <td>
                    {{post.get('words_hash')}}
                </td>
                <td>
                    {{post.get('by')}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% endblock %}

