{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Состояние поиска комментариев: </h3>
            {% for s, st in subs.items() %}
            <div>

                    <h3>{{s}}:
                        <a href="{{url_for('comment_search_info', sub=s)}}">
                        <small id="{{s}}-st">{{st}}</small>
                            </a>
                        <button type="button" class="btn btn-default" onclick="start_find_comments('{{s}}')">Начать поиск комментариев</button>
                    </h3>

            </div>
            {% endfor %}

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            {% for s, posts in qc_s.items() %}
            {% if posts %}
            <div>
                <div class="accordion" id="info-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#{{s}}">
                                <h3>В очереди: {{s}}</h3>
                            </a>
                        </div>
                        <div id="{{s}}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-stripped table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <td>post id</td>
                                        <td>text</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for pfn, text in posts.items() %}

                                    <tr>
                                        <td>
                                            {{pfn}}
                                        </td>
                                        <td>
                                            {{text}}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% endblock %}