{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">


            <h1>
                <small>Информация о найденных комментариях in</small>
                {{sub}}.
            </h1>


            <button type="submit" class="form-control form-inline btn btn-lg btn-primary" onclick="start_find_comments('{{sub}}')">
                Начать поиск в
                {{sub}}?
            </button>

            <h1>Состояние <small id="{{sub}}-st">[{{text_state}}]


            </small></h1>
            <br>
            <hr>
            <h3>Состояние поиска: {{state}}</h3>
        </div>

    </div>


    <div class="row">
        <h3>Посты с найденным текстом но не прокомментированные:</h3>
    </div>

    <div class="row">
        <table class="table table-stripped">
            <thead>
            <tr>
                <td>post id</td>
                <td>text</td>
                <td>hash</td>

            </tr>
            </thead>
            <tbody>
            {% for post in posts_found_comment_text %}
            {%if post['is_in_queue'] %}
            <tr>
                <td>
                    {{post['fullname']}}
                </td>
                <td class="col-md-5">
                    {{post.get('text')}}
                </td>
                <td>
                    {{post['words_hash']}}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3>Прокомментированные: </h3>
        <table class="table table-stripped">
            <thead>
            <tr>
                <td>post id</td>
                <td>text</td>
                <td>hash</td>
                <td>by</td>
            </tr>
            </thead>
            <tbody>
            {% for post in posts_commented %}
            <tr>
                <td>
                    {{post['fullname']}}
                </td>
                <td>
                    {{post.get('text')}}
                </td>
                <td>
                    {{post.get('words_hash')}}
                </td>
                <td>
                    {{post.get('by')}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% endblock %}

