{% extends "layout.html" %}

{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="exclude" class="col-md-offset-3 col-md-6">
            <form class="form-group" action="{{url_for('exclude')}}" method="post">
                <div class="form-group">
                    <textarea name="words" rows="40" class="form-control">{{ array_to_string(words) }}</textarea>
                        <button class="submit btn btn-info btn-lg" type="submit">Постановить</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
{% endblock %}