{% extends "layout.html" %}
{% block body %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3>Если добавлять какой-то существующий в это БД логин,<small> то его ключи лишь обновяться. </small></h3>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ url_for('human_auth_start')}}" method="post">
                <div class="form-group">
                    <label for="u">Login</label>
                    <input id='u' name="user" type="text" class="form-control">

                    <label for="p">Password</label>
                    <input id='p' name="pwd" type="text" class="form-control">

                    <label for="cid">Client id (get from: <a href="https://www.reddit.com/prefs/apps/" target="_blank">
                        HERE </a>)
                    </label>
                    <input id="cid" name="client_id" type="text" class="form-control">

                    <label for="cs">Client secret</label>
                    <input id="cs" name="client_secret" type="text" class="form-control">

                    <label for="ru">Redirect uri</label>
                    <input id="ru" name="redirect_uri" type="text" class="form-control">

                    <hr>
                    <input type="submit" class="form-control">
                </div>
            </form>
            <hr>
            <span>
            {% if url %}
            Теперь иди вот <a href="{{ url }}"> СЮДА </a>. Там говори разрешить и будет тебе счастье...
            {% endif %}
        </span>
        </div>
    </div>
    <div class="row">



    </div>
    <div class="row">
        Как все сделаешь иди добавлять бота <a href="{{ url_for('humans') }}">сюда</a>

    </div>
</div>
{% endblock %}

{% endblock %}