{% extends "layout.html" %}
{% block body %}

{% block content %}
<script>


</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h3>Настройки
                <small><a href="{{url_for('gens_manage')}}">здеся</a></small>
            </h3>
        </div>
        <div class="col-md-8">
            <h3>Состояние поиска постов-хуестов: </h3>
            {% for s, st in subs.items() %}

            <h3 class="{{s}}-main">{{s}}:
                [
                <small id="state-{{s}}">{{st}}</small>
                ]
                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip"
                        data-placement="top" title="Запустить генерацию постов"
                        onclick="generator_action('{{s}}', 'start');">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="tooltip"
                        data-placement="top" title="Приостановить генерацию постов"
                        onclick="generator_action('{{s}}', 'pause');">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-info" aria-label="Left Align"
                        onclick="prepare_for_posting('{{s}}');" data-toggle="tooltip" data-placement="top"
                        title="Засунуть обработанное в очередь">
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" aria-label="Left Align"
                        onclick="delete_sub('{{s}}');" data-toggle="tooltip" data-placement="top"
                        title="Удалить саб причем даже из тех которые будет посещать чувак">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </h3>
            <div id="{{s}}-result-info">

            </div>

            <div class="{{s}}-main">
                <div class="accordion" id="info-accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"
                               href="#{{s}}">
                                <h3>Найденные посты: {{s}}</h3>
                            </a>
                        </div>
                        <div id="{{s}}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-stripped table-hover table-condensed">
                                    <tbody>
                                    {% for post in qc_s[s] %}
                                    <tr id="{{post.url_hash}}">
                                        <td>
                                            <a href="{{post.url}}">{{post.title}}</a>
                                        </td>
                                        <td>
                                            {{post.for_sub}}
                                        </td>
                                        <td>
                                            <button class="btn btn-danger"
                                                    onclick="delete_post('{{s}}','{{post.url_hash}}');">
                                                Нахуй
                                            </button>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>
            {% endfor %}
        </div>
    </div>

    <!--<div class="row">-->
    <!--<div class="col-md-6 col-md-offset-3">-->

    <!--{% for s, posts in qc_s.items() %}-->
    <!--{%if posts %}-->
    <!--<div>-->
    <!--<div class="accordion" id="info-accordion">-->
    <!--<div class="accordion-group">-->
    <!--<div class="accordion-heading">-->
    <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#info-accordion"-->
    <!--href="#{{s}}">-->
    <!--<h3>В очереди: {{s}}</h3>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div id="{{s}}" class="accordion-body collapse">-->
    <!--<div class="accordion-inner">-->
    <!--<table class="table table-stripped table-hover table-condensed">-->
    <!--<tbody>-->
    <!--{% for post in posts %}-->
    <!--<tr id="{{post.url_hash}}">-->
    <!--<td>-->
    <!--<a href="{{post.url}}">{{post.title}}</a>-->
    <!--</td>-->
    <!--<td>-->
    <!--{{post.for_sub}}-->
    <!--</td>-->
    <!--<td>-->
    <!--<button class="btn btn-danger"-->
    <!--onclick="delete_post('{{s}}','{{post.url_hash}}');">-->
    <!--Нахуй-->
    <!--</button>-->
    <!--</td>-->
    <!--</tr>-->

    <!--{% endfor %}-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--{%endif%}-->
    <!--{% endfor %}-->

    <!--</div>-->
    <!--</div>-->
</div>

<script src="{{ url_for('static', filename='js/generators.js') }}"></script>

{% endblock %}

{% endblock %}